{% extends 'base.html.twig' %}

{% block title %}Liste poids{% endblock %}

{% block body %}
    <h1>Liste des poids</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weight in weights %}
            <tr>
                <td>{{ weight.id }}</td>
                <td>{{ weight.value }}</td>
                <td>{{ weight.date ? weight.date|date('Y-m-d H:i:s') : '' }}</td>
                <div class="flex flex-col gap-5">
                    <a href="{{ path('app_weights_show', {'id': weight.id}) }}">détail</a>
                    <a href="{{ path('app_weights_edit', {'id': weight.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_weights_new') }}">Ajouter un nouveau poids</a>
{% endblock %}
