{% extends 'base.html.twig' %}

{% block title %}Poids{% endblock %}

{% block body %}
    <a class="mb-5" href="{{ path('app_weights_index') }}">Retour à la liste</a>
    
    <h1>Poids</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weight.id }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ weight.value }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weight.date ? weight.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_weights_edit', {'id': weight.id}) }}">Modifier</a>

    {{ include('weights/_delete_form.html.twig') }}
{% endblock %}
