{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ipp</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Gender</th>
                <th>BirthDate</th>
                <th>IaEnabled</th>
                <th>Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.ipp }}</td>
                <td>{{ patient.firstname }}</td>
                <td>{{ patient.lastname }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.birthDate ? patient.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ patient.iaEnabled ? 'Yes' : 'No' }}</td>
                <td>{{ patient.observation }}</td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patient_new') }}">Create new</a>
{% endblock %}
