{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <div class="flex gap-6 mb-12">
        <div class="flex flex-grow">
            <form class="relative w-full">
                <input class="w-full h-full rounded-lg bg-neutral-100 border-0" type="text" class="input " placeholder="Recherche..." />
                <button class="absolute top-0 right-0 rounded-l-none btn">
                    {{ include('/icons/icon-search.html.svg', {size: '14'} ) }}
                </button>
            </form>
        </div>
        <a href="{{ path('app_patient_new') }}">
            <button class="btn bg-primary-cm-200 text-primary-cm transition-colors duration-300 hover:bg-primary-cm hover:text-white">Ajouter</button>
        </a>
    </div>
    <div class="overflow-x-auto rounded-xl shadow">
        <table class="table">
            <thead class="tep-3">
                <tr>
                    <th>Ipp</th>
                    <th>Identité</th>
                    <th>Contact</th>
                    <th>Risks Score</th>
                    <th>Mental Health Score</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.ipp }}</td>
                    <td>
                        {{ patient.firstname }} {{ patient.lastname }}
                        <br>
                        <div class="flex gap-2 mt-2">
                            {% if patient.iaEnabled %}
                                <div class="badge-sm font-bold text-white rounded-full flex gap-1 items-center" style="background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 51%, rgba(138,138,138,1) 100%);">
                                    <div>IA</div>
                                    <div>
                                        <span class="material-symbols-rounded text-sm font-extrabold">
                                            check
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <span class="badge badge-ghost badge-sm">
                                {% if patient.gender == 'H'%}
                                    Homme
                                {% elseif patient.gender == 'F'%}
                                    Femme
                                {% else %}
                                    Autre
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="font-bold">{{ patient.email }}</div>
                            <div class="text-sm opacity-50">{{ patient.phone }}</div>
                        </div>
                    </td>
                    <td>
                        {% if patient.lastDiagnosticRisksScore %}
                            {% set lastDiagnosticRisksScore = patient.lastDiagnosticRisksScore / 10 * 100 %}
                            <div class="radial-progress text-sm {% if lastDiagnosticRisksScore > 70 %}text-success{% elseif lastDiagnosticRisksScore > 40 %}text-warning{% else %}text-error{% endif %}" style="--value:{{ lastDiagnosticRisksScore }}; --size:2.6rem; --thickness: 0.3rem;" role="progressbar">{{ lastDiagnosticRisksScore }}%</div>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if patient.lastDiagnosticMentalHealthScore %}
                            {% set lastDiagnosticMentalHealthScore = patient.lastDiagnosticMentalHealthScore / 10 * 100 %}
                            <div class="radial-progress text-sm {% if lastDiagnosticMentalHealthScore > 70 %}text-success{% elseif lastDiagnosticMentalHealthScore > 40 %}text-warning{% else %}text-error{% endif %}" style="--value:{{ lastDiagnosticMentalHealthScore }}; --size:2.6rem; --thickness: 0.3rem;" role="progressbar">{{ lastDiagnosticMentalHealthScore }}%</div>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <div class="flex justify-end">
                            <div class="flex items-center gap-2 rounded-xl shadow bg-primary-cm-200 p-2">
                                <a class="text-primary-cm p-2.5 border-r-1 font-normal border-primary-cm-500 flex items-center rounded-xl transition-colors hover:bg-primary-cm-800 hover:text-white"
                                   href="{{ path('app_patient_show_details', {'id': patient.id, 'mentalHealthDiagnosticId': patient.lastDiagnoticMentalHealth.id}) }}">
                                    <span class="material-symbols-rounded font-bold">
                                        visibility
                                    </span>
                                </a>
                                <a class="text-primary-cm p-2.5 border-r-1 font-normal border-primary-cm-500 flex items-center rounded-xl transition-colors hover:bg-primary-cm-800 hover:text-white"
                                   href="{{ path('app_patient_edit', {'id': patient.id}) }}">
                                    <span class="material-symbols-rounded font-bold">
                                        edit
                                    </span>
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <select id="countries" class="bg-gray-50 border-0 text-grey hover:text-primary text-md font-medium rounded-lg focus:ring-none focus:border-0 block w-32 p-0.5 href-select" onchange="location = this.value;">
        {% if app.request.get('byDate') is not defined and app.request.get('byName') is not defined %}
        <option selected hidden>{{ trieDefaultValue }}</option>
        {% endif %}
        <option value="{{ path('app_patient_index', { lastDiagnosticRisksSortBy: 'DESC'} ) }}" {% if app.request.get('lastDiagnosticRisksSortBy') is defined and app.request.get('lastDiagnosticRisksSortBy') == 'DESC' %}selected{% endif %}">lastDiagnosticRisksSortBy</option>
        <option value="{{ path('app_patient_index', { lastDiagnosticRisksSortBy: 'ASC'} ) }}" {% if app.request.get('lastDiagnosticRisksSortBy') is defined and app.request.get('lastDiagnosticRisksSortBy') == 'ASC' %}selected{% endif %}>plus ancien</option>
        <option value="{{ path('app_patient_index', { lastDiagnosticMentalHealthSortBy: 'ASC'} ) }}" {% if app.request.get('lastDiagnosticMentalHealthSortBy') is defined and app.request.get('lastDiagnosticMentalHealthSortBy') == 'ASC' %}selected{% endif %}>lastDiagnosticMentalHealthSortBy</option>
        <option value="{{ path('app_patient_index', { lastDiagnosticMentalHealthSortBy: 'DESC'} ) }}" {% if app.request.get('lastDiagnosticMentalHealthSortBy') is defined and app.request.get('lastDiagnosticMentalHealthSortBy') == 'DESC' %}selected{% endif %}>lastDiagnosticMentalHealthSortBy</option>
    </select>

    <div class="flex justify-between py-6 items-center">
        <div>
            <span class="text-sm text-neutral-500">Showing 1 to 10 of {{ total }} entries</span>
        </div>
        <div class="join">

            {% set params = app.request.query.all() %}
            {% set num_pages = (total / 10)|round(0, 'ceil') %}

            <div class="flex">
                <a>
                    <button class="join-item btn btn-md btn-active">
                        {% if app.request.get('page') is not defined or app.request.get('page') is null %}
                            1
                        {% else %}
                            {{ app.request.get('page') }}
                        {% endif %}
                    </button>
                </a>

                {% set p = app.request.get('page') is not defined or app.request.get('page') is null ? 2 : app.request.get('page') + 1 %}
                {%  if p != num_pages and p < num_pages %}

                    <a href="{{ path(app.request.get('_route'), params|merge({'page': p})) }}">
                        <button class="join-item btn btn-md">
                            {% if app.request.get('page') is not defined or app.request.get('page') is null %}
                                2
                            {% else %}
                                {{ app.request.get('page') + 1 }}
                            {% endif %}
                        </button>
                    </a>
                {% endif %}

                {% set p = app.request.get('page') is not defined or app.request.get('page') is null ? 3 : app.request.get('page') + 2 %}
                {%  if p != num_pages and p < num_pages %}
                    <a href="{{ path(app.request.get('_route'), params|merge({'page': p})) }}">
                        <button class="join-item btn btn-md">
                            {% if app.request.get('page') is not defined or app.request.get('page') is null %}
                                3
                            {% else %}
                                {{ app.request.get('page') + 2 }}
                            {% endif %}
                        </button>
                    </a>
                {% endif %}
                {%  if app.request.get('page') != num_pages %}
                    <a href="{{ path(app.request.get('_route'), params|merge({'page': num_pages })) }}">
                        <button class="join-item btn btn-md">
                            {{ num_pages }}
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
