{% extends 'base.html.twig' %}

{% block title %}Diagnostic Risks index{% endblock %}

{% block body %}
    <h1>Diagnostic Risks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Content</th>
                <th>Reasons</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diagnostic_risk in diagnostic_risks %}
            <tr>
                <td>{{ diagnostic_risk.id }}</td>
                <td>{{ diagnostic_risk.value }}</td>
                <td>{{ diagnostic_risk.content }}</td>
                <td>{{ diagnostic_risk.reasons }}</td>
                <td>{{ diagnostic_risk.createdAt ? diagnostic_risk.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_diagnostic_risks_show', {'id': diagnostic_risk.id}) }}">show</a>
                    <a href="{{ path('app_diagnostic_risks_edit', {'id': diagnostic_risk.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diagnostic_risks_new') }}">Create new</a>
{% endblock %}