{% extends 'base.html.twig' %}

{% block title %}Diagnostic Mental Health index{% endblock %}

{% block body %}
    <h1>Diagnostic Mental Health index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Content</th>
                <th>Reasons</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diagnostic_mental_health in diagnostic_mental_healths %}
            <tr>
                <td>{{ diagnostic_mental_health.id }}</td>
                <td>{{ diagnostic_mental_health.value }}</td>
                <td>{{ diagnostic_mental_health.content }}</td>
                <td>{{ diagnostic_mental_health.reasons }}</td>
                <td>{{ diagnostic_mental_health.createdAt ? diagnostic_mental_health.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_diagnostic_mental_health_show', {'id': diagnostic_mental_health.id}) }}">show</a>
                    <a href="{{ path('app_diagnostic_mental_health_edit', {'id': diagnostic_mental_health.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diagnostic_mental_health_new') }}">Create new</a>
{% endblock %}