{% extends 'base.html.twig' %}

{% block title %}Diagnostic Mental Health{% endblock %}

{% block body %}
    <h1>Diagnostic Mental Health</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diagnostic_mental_health.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ diagnostic_mental_health.value }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ diagnostic_mental_health.content }}</td>
            </tr>
            <tr>
                <th>Reasons</th>
                <td>{{ diagnostic_mental_health.reasons }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ diagnostic_mental_health.date ? diagnostic_mental_health.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_diagnostic_mental_health_index') }}">back to list</a>

    <a href="{{ path('app_diagnostic_mental_health_edit', {'id': diagnostic_mental_health.id}) }}">edit</a>

    {{ include('diagnostic_mental_health/_delete_form.html.twig') }}
{% endblock %}