<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.png') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,1,0" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex">
        <header class="h-[100dvh] w-28 flex flex-col justify-between items-center max-sm:hidden fixed print:hidden">
            <nav class="flex flex-col gap-12 items-center p-3">
                <div class="flex items-center flex-shrink-0 text-white p-6">
                    <a href="{{ path('app_patient_index') }}">
                        <img class="logo" src="{{ asset('build/images/favicon.png') }}" width="40" alt="logo">
                    </a>
                </div>
                <div class="flex-grow flex flex-col text-sm font-medium gap-8 w-full items-center">
                    <a href="{{ path('app_patient_index') }}" class="block">
                        <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                            group
                        </span>
                    </a>
                    <a href="{{ path('app_messages_new') }}" class="block">
                        <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                            maps_ugc
                        </span>
                    </a>
                    <a href="{{ path('app_events_new') }}" class="block">
                        <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                            note_add
                        </span>
                    </a>
                    <a href="{{ path('app_weights_new') }}" class="block">
                        <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                            monitor_weight_gain
                        </span>
                    </a>
                </div>
            </nav>
            <a href="{{ path('app_patient_index') }}" class="block">
                <span class=" material-symbols-rounded font-bold p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                    logout
                </span>
            </a>
        </header>
        <main class="w-full ml-28 max-sm:ml-0 flex justify-center">
            <div class="container px-20 py-12 mx-auto max-sm:px-4 max-sm:py-8">
                {% block body %}{% endblock %}
            </div>
        </main>
        <div class="btm-nav md:hidden visible print:hidden">
            <a href="{{ path('app_patient_index') }}" class="">
                <button class="text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                    <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                        group
                    </span>
                </button>
            </a>
            <a href="{{ path('app_messages_new') }}" class="">
                <button class="text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                     <span class=" material-symbols-rounded p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                        maps_ugc
                    </span>
                </button>
            </a>
            <a href="{{ path('app_patient_index') }}" class="">
                <button class="text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                    <span class=" material-symbols-rounded font-bold p-4 mb-8 text-neutral-600 cursor-pointer hover:text-primary-cm transition-colors duration-300">
                        note_add
                    </span>
                </button>
            </a>
        </div>
    </body>
</html>
