{% extends 'base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}
    <h1>Liste des messages</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Contenu</th>
            <th>Patient</th>
            <th>Créé à</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.patient.firstname }} {{ message.patient.lastname }}</td>
                <td>
                    <a href="{{ path('app_messages_show', {'id': message.id}) }}">détail</a>
                </td>
                <td>
                    <a href="{{ path('app_messages_edit', {'id': message.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_messages_new') }}">Créer un nouveau message</a>
{% endblock %}
