{% extends 'base.html.twig' %}

{% block title %}Liste événements{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeur</th>
                <th>Type</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.value }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td class="flex flex-col gap-1">
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">détail</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_new') }}">Ajouter un nouvel événement</a>
{% endblock %}
