{% extends 'base.html.twig' %}

{% block title %}Évènement{% endblock %}

{% block body %}
    <div class="flex justify-between flex-row items-center mb-12 max-lg:flex-col max-lg:mb-6">
        <h1 class="text-2xl font-bold max-lg:w-full">Évènement</h1>
        <div class="flex gap-4">
            <a href="{{ path('app_events_edit', {'id': event.id}) }}">
                <button class="btn bg-primary-cm-200 text-primary-cm transition-colors duration-300 hover:bg-primary-cm hover:text-white">
                    <span class="material-symbols-rounded">
                        edit
                    </span>
                </button>
            </a>
            <a class="mb-5" href="{{ path('app_events_index') }}">
                <button class="btn bg-primary-cm-200 text-primary-cm transition-colors duration-300 hover:bg-primary-cm hover:text-white">Retour à la liste</button>
            </a>
        </div>
    </div>
    <div class="overflow-x-auto rounded-xl shadow">
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ event.value }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    {{ include('events/_delete_form.html.twig') }}
{% endblock %}
